html{
    overflow: hidden;
}
#CFM{
    display: none;
    left: 30px;
    padding: 30px;
    position: absolute;
    z-index: 20;
    background-color: #2B2B2B;
    color: whitesmoke;
    box-shadow: 1px 1px 1px black;
}
#CFM ::placeholder{
    color: white;
}
#CFM input{
    border-radius: 3px;
    color: white;
    background-color: #5b5c63;
}
#CFM button{
    border-radius: 3px;
    float: right;
    margin-top: 10px;
    background-color: #5b5c63;
    color: white;
}
.pepegabar{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 170px;
}
.pepegabar img {
    margin-left: 50px;
    margin-right: 10px;
    height: 6vh;
    width: 6vh;
}
.pepegabar strong {
    font-family: monospace;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
}

#navbar {
    background: #3C3D44;
    position: absolute;
    top: 0;
    left: 0;
    height: 7.5%;
    width: 100%;
    box-shadow: inset 1px -8px  15px  14px #7b7b7b85;
    border: 1px solid black;
}
#terminal{
    font-family: "Courier New", monospace;
    color: gainsboro;
    margin-top: 3px;
    width: 97%;
    height: 80%;
    overflow: auto;
    background-color: #2B2B2B;
    box-shadow: #2B2B2B 1px 1px 2px 3px;
    padding-left: 5px;
    margin-left: 15px;
}
#run{
    position: absolute;
    left: 87.5%;
    top: 25%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #3C3D44;
    color: #fbfff9;
}
#triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #3bb500;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5b5c63
}

#lefbar span{
    font-family: monospace;
    z-index: 2;
    padding-left: 20px;
    display: block;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5b5c63;
}
#leftBorder{
    padding-left: 10px;
    margin-left: 10px;
    color: whitesmoke;
    background: #2B2B2B;
    left: 3.3%;
    width: 95%;
    height: 100%;
    border-left: #fbfff9 1px;
    position: absolute;
}

#textArea{
    outline: none;
    position: absolute;
    width: 86.5%;
    height: 83%;
    background: #2B2B2B;
    left: 13.5%;
    top: 7.5%;
    bottom: 7.5%;
}
#textArea span{
    padding: 0;
    display: inline;
}
.CodeMirror{
    height: 100%!important;
}
div.scrollbars {
    max-height: 500px;
    overflow: auto;
}

body{
    color: whitesmoke;
    background: #3B3F42;

}
#chosePanel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background: #3B3F42;

}
#lefbar{
    box-shadow: inset #4f4f4f85 3px -7px 9px 8px;
    position: absolute;
    left: 0;
    top: 7.5%;
    bottom: 7.5%;
    height: 85%;
    width: 13.5%;
    background: #3B3F42;
}
a{
    color: #fbfff9;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}