
.pepegabar{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 170px;
}
.pepegabar img {
    margin-left: 50px;
    margin-right: 10px;
    height: 6vh;
    width: 6vh;
}
#navbar {
    background: #3C3D44;
    position: absolute;
    top: 0;
    left: 0;
    height: 7.5%;
    width: 100%;
}
#terminal{
    padding-left: 3%;
}
#run{
    position: absolute;
    left: 87.5%;
    top: 25%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #3C3D44;
    color: #fbfff9;
}
#triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #3bb500;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #5b5c63
}
span{
    padding-left: 20px;
    display: block;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5b5c63;
}
#leftBorder{
    padding-left: 10px;
    margin-left: 10px;
    color: whitesmoke;
    background: #2B2B2B;
    left: 3.3%;
    width: 95%;
    height: 100%;
    border-left: #fbfff9 1px;
    position: absolute;
}

#textArea{
    outline: none;
    position: absolute;
    width: 86.5%;
    height: 85%;
    background: #2B2B2B;
    left: 13.5%;
    top: 7.5%;
    bottom: 7.5%;
}
#textArea span{
    padding: 0;
    display: inline;
}
.CodeMirror{
    height: 100%!important;
}
div.scrollbars {
    max-height: 500px;
    overflow: auto;
}

body{

    color: whitesmoke;
    background: #3B3F42;

}
#chosePanel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5%;
    background: #3B3F42;

}
#lefbar{
    position: absolute;
    left: 0;
    top: 7.5%;
    bottom: 7.5%;
    height: 85%;
    width: 13.5%;
    background: #3B3F42;
}
a{
    color: #fbfff9;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}